@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    ::selection{
        background: black;
        color: rgb(249 115 22 );
    }
}

footer {
    flex-shrink: 0;
}
